.contenedor {
    background-color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.centrar {
    text-align: center;
}

.bloque {
    text-align: center;
    padding: 100px;
}

img{
    margin: 10px;
}
